/* var */

:root {
  --black: #2e2e2e;

  --primary: #0b50e5;
  --primary-light: #f1f4ff;
  --primary-less-light: #3c70e2;
  --primary-lesser-light: #acc3f3;

  --secondary: #e6660b;

  --positive: #246824;
  --positive-light: #e3f3e3;
  --negative: #cf0f0f;
  --negative-light: #f7eaea;

  --main-fonts: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

/* --- */

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--main-fonts);
}

a {
  color: var(--primary);
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  margin-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

body {
  color: var(--black);
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

html {
  font-size: 18px;
}

p {
  line-height: 1.75;
  margin-bottom: 1rem;
}

input {
  font-size: 18px;
}

select {
  font-size: 1rem;
}

/* TITLES */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

h2 {
  margin-bottom: 1rem;
  margin-top: 2rem;
}

/* END TITLES */

.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 2rem 0;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 1.5rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.py-1 {
  padding: 0.7rem 0 1rem 0;
}

.py-2 {
  padding: 1.2rem 0 1.5rem 0;
}

.shadow-1 {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

/* Custom classes */

.inline-block {
  display: inline-block;
}

.container {
  max-width: 1024px;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.error-msg {
  color: var(--negative);
  font-size: 80%;
  margin-top: 0.2rem;
}

.error-msg-generic {
  color: var(--negative);
  text-align: center;
  margin-top: 0.2rem;
}

.result-msg {
  margin-top: 2rem;
  font-size: 1.2rem;
  background-color: var(--primary-light);
  padding: 1rem;
  border-radius: 5px;
}

.highlight-res {
  display: inline-block;
  color: var(--primary);
  font-weight: 500;
}

.empty-page-center {
  min-height: calc(100vh - 60px - 90px - 3rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  padding: 1rem 1.5rem 1.5rem 1.5rem;
  border-radius: 8px;
  margin: 0 auto;
  background-color: white;
}

.page-title {
  font-weight: 500;
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* Loading Circle */
/* Credits: w3schools.com */

/* loading dots */

.loading:after {
  content: " .";
  animation: dots 1s steps(5, end) infinite;
}

@keyframes dots {
  0%,
  20% {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  40% {
    color: white;
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  60% {
    text-shadow: 0.25em 0 0 white, 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  80%,
  100% {
    text-shadow: 0.25em 0 0 white, 0.5em 0 0 white;
  }
}

/* --- */

/* INPUT CLASSES */

input,
select {
  min-height: 40px;
  border-radius: 5px;
  border: 1px solid #999;
  background-color: rgba(0, 0, 0, 0.02);
  padding: 0.5rem 0.7rem;
  width: 100%;
}

input:focus,
select:focus {
  outline: none;
  border: 1px solid var(--primary);
}

.error-input,
.error-input:focus {
  outline: none;
  border: 1px solid var(--negative);
}

.input-label {
  font-size: 80%;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.input-outer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.input-wrapper {
  border-radius: 5px;
  width: 100%;
  display: flex;
}

.symbol-inside {
  padding: 0 0.4rem;

  color: #2e2e2e;
}

.symbol-select {
  padding-top: 0.2rem;
  height: 100%;
  border: none;
  border-radius: 0 4px 4px 0;
}

.symbol-select:focus {
  border: none;
  background-color: #ddd;
}

.shadow-focus:focus {
  box-shadow: 0 0 0 2px var(--primary-lesser-light);
  border: 1px solid var(--primary);
}

.footnote {
  font-size: 0.75rem;
}

/* LINKS */

.norm-link {
  font-weight: 400;
  color: var(--black);
}

.norm-link:hover {
  color: var(--primary);
  text-decoration: none;
}

.clickable-icon {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.clickable-icon:hover {
  text-decoration: none;
}

/* Responsive */
@media (min-width: 993px) {
  .show-on-mobile {
    display: none !important;
  }
}

@media (max-width: 992px) {
  .hide-on-mobile {
    display: none !important;
  }
}
